/* ==UserStyle==
@name YT
@namespace WTF
@description YT
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/watch?v="), url-prefix("https://www.youtube.com/embed"), domain("www.youtube-nocookie.com") {
/* TRASH */
#skip-navigation,
.ytp-pause-overlay,
.ytp-gradient-top,
.ytp-gradient-bottom,
.ytp-fullerscreen-edu-button,
.ytp-chrome-top,
ytd-watch-flexy[fullscreen] #columns,
ytd-app[masthead-hidden_] #masthead-container {
	display: none !important;
}

/* HEADER */
ytd-app #masthead-container.ytd-app {
	position: absolute !important;
	top: 100vh !important;
}

#page-manager.ytd-app {
	margin-top: 0 !important;
}

/* PLAYER */
/* ytd-watch-flexy[theater] - to determine theater mode */
ytd-watch-flexy #player-theater-container.ytd-watch-flexy { 
	max-height: 100vh !important;
}
.ytp-progress-bar-container {
	bottom: 0 !important;
}

/* COMMENTS */
ytd-watch-flexy #columns.ytd-watch-flexy {
	margin-top: 60px !important;
}
}
